{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center p-3 text-primary-emphasis bg-dark-subtle border border-dark-subtle">
    <div class="card" style="width: 64rem;">
        <div class="card-header d-flex justify-content-center mt-1">
            <h5>Añadir producto</h5>
        </div>
        <div class="card-body">
            <form action="" method="POST" style="margin: 0 auto;" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="id_nombre" class="col-sm-4 col-form-label">Nombre:</label>
                    <div class="col-sm-4">
                        {{ form.nombre }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_descripcion" class="col-sm-4 col-form-label">Descripción:</label>
                    <div class="col-sm-4">
                        {{ form.descripcion }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_categoria" class="col-sm-4 col-form-label">Categoría:</label>
                    <div class="col-sm-4">
                        {{ form.categoria }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_precio_base" class="col-sm-4 col-form-label">Precio base:</label>
                    <div class="col-sm-4">
                        {{ form.precio_base }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_multiplicador" class="col-sm-4 col-form-label">Multiplicador:</label>
                    <div class="col-sm-4">
                        <input type="number" id="id_multiplicador" name="multiplicador" value="{{ form.multiplicador.value|default:1 }}" min="1" step="1" onchange="actualizarPrecio()">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_precio_final" class="col-sm-4 col-form-label">Precio final:</label>
                    <div class="col-sm-4">
                        <input type="text" id="id_precio_final" name="precio_final" value="{{ form.precio_final.value }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_is_oferta" class="col-sm-4 col-form-label">En oferta:</label>
                    <div class="col-sm-4">
                        {{ form.is_oferta }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_oferta_precio" class="col-sm-4 col-form-label">Precio oferta:</label>
                    <div class="col-sm-4">
                        {{ form.oferta_precio }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_imagen" class="col-sm-4 col-form-label">Imagen:</label>
                    <div class="col-sm-4">
                        {{ form.imagen }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id_captcha" class="col-sm-4 col-form-label">Captcha:</label>
                    <div class="col-sm-4">
                        {{ form.captcha }}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Modificar" class="btn btn-warning mx-1">
                    <input type="reset" value="Limpiar" class="btn btn-secondary mx-1">
                </div>
            </form>
        </div>
    </div>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<script>
    function actualizarPrecio() {
        let precioBase = parseFloat(document.getElementById("id_precio_base").value);
        let multiplicador = parseFloat(document.getElementById("id_multiplicador").value);
        let precioFinal = precioBase * multiplicador;
        precioFinal = Math.round(precioFinal)
        document.getElementById("id_precio_final").value = precioFinal.toFixed(2);
    }
</script>

{% endblock %}
