{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Historial de Compras</h2>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Productos</th>
                <th>Total</th>
                <th>Boleta</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td>{{ compra.fecha }}</td>
                <td>
                    <ul id="productos-{{ forloop.counter }}">
                        <script>
                            // Parsear el JSON y mostrar los productos
                            var productosData = JSON.parse('{{ compra.productos|safe }}');
                            productosData.productos.forEach(function(producto) {
                                var li = document.createElement("li");
                                li.textContent = `${producto.nombre} x ${producto.cantidad}`;
                                document.getElementById("productos-{{ forloop.counter }}").appendChild(li);
                            });
                        </script>
                    </ul>
                </td>
                <td>${{ compra.total }}</td>
                <td><a class="btn btn-outline-dark mt-auto" href="{% url 'generar_pdf' compra.id %}">Boleta</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay compras realizadas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if compras.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ compras.previous_page_number }}">Anterior</a></li>
        {% endif %}

        {% for num in compras.paginator.page_range %}
            {% if compras.number == num %}
                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if compras.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ compras.next_page_number }}">Siguiente</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ compras.paginator.num_pages }}">Último &raquo;</a></li>
        {% endif %}
    </ul>
</nav>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

{% endblock %}