{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Mechá</h1>
            <p class="lead fw-normal text-white-50 mb-0">Somos un taller mecánico!</p>
        </div>
    </div>
</header>

<!-- Acerca de -->
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br>
                    Especialistas en motores, frenos, suspensión y sistemas eléctricos. 
                    <br>
                    Con más de 10 años de experiencia en la industria, nos destacamos por nuestra profesionalidad y meticulosidad en cada trabajo. 
                    <br>
                    Nuestro compromiso es ofrecer un servicio de alta calidad y confiabilidad para garantizar el óptimo rendimiento de su vehículo.
                    <br>
                </p>
            </div>
        </center>
    </div>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>

{% endblock %}